body {
  margin: 0;
}

.splash-screen {
  min-height: 100vh;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  text-align: center;
}

.logo {
  font-size: 70px;
  margin: 0;
}

.yellow {
  color: #ffd21f;
}

.red {
  color: #f05a1a;
}

.tagline {
  color: white;
  margin-top: 10px;
}

.start-btn {
  margin-top: 20px;
  padding: 12px 25px;
  border: none;
  border-radius: 30px;
  background: orange;
  color: white;
  font-size: 16px;
}

.subtag {
  margin-top: 20px;
  color: white;
}